<div class="row">
  <div class="col-12">
    <table class="table table-striped table-bordered table-hover">
      <thead class="thead-dark">
        <tr>
          <th scope="col" style="min-width:300px;"><span>Name</span></th>
          <th scope="col"><span>HSN/SAC</span></th>
          <th scope="col"><span>GST(%)</span></th>
          <th scope="col"><span>Quantity</span></th>
          <th scope="col"><span>Rate</span></th>
          <th scope="col"><span>Tax</span></th>
          <th scope="col"><span>IGST</span></th>
          <th scope="col" *ngIf="isDiscounted()"><span>Discount</span></th>
          <th scope="col"><span>Total</span></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let i of itemForm; let in = index">
          <td style="min-width:300px;">{{in+1}}. {{i.name}}</td>
          <td>{{i.hsn}}</td>
          <td>{{i.gst | number : 1-1}}</td>
          <td>{{i.quantity | number : 1-1}}</td>
          <td>{{i.rate | number : 1-1}}</td>
          <td>{{i.tamount | number : 1-1}}</td>
          <td>{{i.igst | number : 1-1}}</td>
          <td *ngIf="isDiscounted()">{{i.discount | number : 1-1}}</td>
          <td class="flex-apart relative">{{i.total | number : 1-1}} <button class="btn btn-danger cross-btn" (click)="deleteItem(in)">x</button></td>
        </tr>
      </tbody>
      <tfoot>
        <tr>
          <td style="min-width:300px;"><input type="text" class="form-control fcs" [(ngModel)]="name"></td>
          <td><input type="text" class="form-control fcs" [(ngModel)]="hsn"></td>
          <td><input type="text" class="form-control fcs" (ngModelChange)="gstUpdate($event)" [(ngModel)]="gst"></td>
          <td><input type="text" class="form-control fcs" (ngModelChange)="quantityUpdate($event)"
              [(ngModel)]="quantity"></td>
          <td><input type="text" class="form-control fcs" (ngModelChange)="rateUpdate($event)" [(ngModel)]="rate"></td>
          <td><input type="text" class="form-control fcs" [(ngModel)]="tamount" disabled></td>
          <td><input type="text" class="form-control fcs" [(ngModel)]="igst" disabled></td>
          <td *ngIf="isDiscounted()"><input type="text" class="form-control fcs" [(ngModel)]="discount" disabled></td>
          <td><input type="text" class="form-control fcs" [(ngModel)]="total" disabled></td>
        </tr>
      </tfoot>
    </table>
    <div class="row">
      <div class="col-12 flex-apart">
        <button class="btn btn-primary" (click)="add()">Add Row</button>
        <button class="btn btn-primary" *ngIf="!isDiscounted()" (click)="addDiscount()">Add Discount</button>
      </div>
    </div>
    <div class="row">
      <div class="col-6"></div>
      <div class="col-6">
        <div class="row" *ngIf="isDiscounted()">
          <div class="col-6">
            <label for="disc">Discount</label>
          </div>
          <div class="col-6">
            <input type="text" id="disc" (ngModelChange)="discountUpdate($event)" [(ngModel)]="discount">
          </div>
        </div>
      </div>
    </div>
    <div class="row mt-2">
      <div class="col-6"></div>
      <div class="col-6">
        <div class="row">
          <div class="col-6">
            <label>Taxable Amount</label>
          </div>
          <div class="col-6">
            {{tam}}
          </div>
        </div>
      </div>
    </div>
    <div class="row mt-2">
      <div class="col-6"></div>
      <div class="col-6">
        <div class="row">
          <div class="col-6">
            <label>Total IGST</label>
          </div>
          <div class="col-6">
            {{tigst}}
          </div>
        </div>
      </div>
    </div>
    <div class="row mt-2">
      <div class="col-6"></div>
      <div class="col-6">
        <div class="row">
          <div class="col-6">
            <label>Total</label>
          </div>
          <div class="col-6">
            {{tTotal}}
          </div>
        </div>
      </div>
    </div>
    <div class="row mt-2">
      <div class="col-3"></div>
      <div class="col-9">
        <div class="row">
          <div class="col-12">
            Total in Words: {{WordAmnt}}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
